@*L19c1c, el modelo que va a recibir esta vista va a ser un booleano.
    Importante que o nombre da vista e do model coincide co tipo de variable que 
    queremos cambiar *@
@model Boolean

@*Si exite o es verdadero*@
@if (Model)
{
    <span>Si,todo OK</span>
}
else
{
    <span>No, Nanai de la china</span>
}
