
@*L12c1b*@
@{
    ViewBag.Title = "EjemploViewBag_Data";
}

<h2>EjemploViewBag_Data</h2>

<h3>@ViewBag.Message</h3>
<h4>@ViewBag.numero</h4>
<h5>@ViewBag.Fecha</h5>
<h4>@ViewData["MiMensaje"]</h4>



