
@{
    ViewBag.Title = "L14_Layout_y_shared";
}

<h2>L14_Layout_y_shared</h2>
@*L14c1b Layout es lo mismo que la master page.
    En la carpeta \Views\Shared colocaremos os elementos das vistas que teñan que
    ver co visual que necesitemos compartir entre todas as vistas
*@
@Html.Partial("~/Views/Home/Contact.cshtml")@*L14c3  podemos poñer unha parte de unha vista*@
@Html.Partial("_LoginPartial")      @*L24c1  https://www.youtube.com/watch?v=k0QqXZcpJ4A&index=23&list=PL0kIvpOlieSNWR3YPSjh9P2p43SFnNBlB*@ 